:root {
    --red-color: #ED1C24;
    --white-color: #FFFFFF;
    --black-color: #262626;
}

.conquer{
    position: relative;
    color: white;
    background-color: var(--black-color);
    padding: 134px 30px ;
}

.conquer > .container > h1 > div>  span {
    color: var(--red-color) !important;
    line-height: 69px;
    height: 100%;
}

.conquer > .container > h1{
    font-size: 80px;
    width: 245px;
}

@media (min-width: 601px) {
    .conquer > .container > h1{
        margin: auto;
        font-size: 125px;
        width: 600px;
    }
    
}

