:root {
    --red-color: #ED1C24;
    --white-color: #FFFFFF;
    --black-color: #262626;
}

.veggy-left-container{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--red-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.veggy-title{
    font-size: 30px !important;
    margin-bottom: 18px;
}

.veggy-paragraph{
    font-size: 20px;
    line-height: 31px !important;
    text-align: center;
    width: 376px;
}

.veggy-salad-image{
    position: relative;
}

.veggy-salad-image > div{
   background-image: url("../assets/Mobile/mobile-salad.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 428px;
}
